* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ensures padding doesn't overflow */
  }

body {
  color: black;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.navbars {
  color: black;
}

/* hero section */
.hero {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 0px;
  grid-template-columns: 1.6fr 1.6fr 0.25fr;
}

.hero-header {
  font-size: 58px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
}

.cart-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 329px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #2b152a;
  border-radius: 8px;
  background-color: #ffc947;
  box-shadow: -2px 3px 0 1px #2b152a;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #12141d;
}

#cloud {
  position: absolute;
  left: auto;
  top: -26%;
  right: -9%;
  bottom: auto;
}

.cart-text {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.cart-right {
  display: flex;
  align-items: center;
}

.norton {
  display: flex;
  gap: 20px;
  align-items: center;
}

.norton-right {
  display: flex;
  flex-direction: column;
}

.norton-top {
  display: flex;
  gap: 10px;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* TRUSTED SECTION */
.trusted-section {
  padding-top: 50px;
  background-color: #fffcf1;
  padding-bottom: 50px;
}

.trusted-section .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.trusted-heading {
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 25px;
}

.trusted-logos {
  display: flex;
  justify-content: space-between;
}

.trusted-logos img {
  width: 100px;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.trusted-logos img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* COMFORT SECTION */
.comfort-section {
  padding: 50px 0;
  background-color: #fffcf1;
}

.comfort-flex-wrapper {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.comfort-heading {
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
}

.subtext-wrapper {
  position: relative;
  display: inline-block;
}

.subtext {
  font-size: 48px;
  line-height: 1;
  font-weight: 900;
  position: relative;
  z-index: 2;
  padding: 10px 0 10px 0;
  margin: 50px 50px 10px 50px;
}

.bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  pointer-events: none;
}

.corner-image {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 60px;
  z-index: 3;
}

.bag-yellow-image-bg {
  width: 358px;
  height: 324px;
  border-radius: 20px;
  background-color: #5469f8;
}

.bag-yellow-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40%;
  display: flex;
  background-image: url("https://assets.website-files.com/62f0ec04eafac569b5425ba6/633c212f72b8f5effa15e9a3_bg.png"), linear-gradient(139deg, #6e7cff, #4f5ff9);
  background-position: 0% 50%, 0px 0px;
  background-size: auto, auto;
  background-repeat: no-repeat, repeat;
}

.small-yellow-bag {
 position: absolute;
 left: 11%;
 top: -5%;
 right: auto;
 bottom: auto;
}

.big-yellow-bag {
position: absolute;
left: 11%;
top: -5%;
right: auto;
bottom: auto;
}
